.eslintcache
.nyc_output
coverage
dist
node_modules
npm-debug.log
package-lock.json
src/style-spec/dist/index.js
test/integration/**/actual.json
test/integration/**/actual.png
test/integration/**/diff.png
test/integration/**/index*.html
